/*Allgemeine Definitionen und Festlegungen*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Nunito', sans-serif;
    line-height: 1;
}

/* Etwas ins Zentrum :) */
.center {
    text-align: center;
}

/* Button */
.buttonselect {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: solid 1.5px;
    border-color: white;
    margin-left: 0;
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;

}

.buttonnotselect {
    background-color: white;
    color: grey;
    border: solid 1.5px;
    border-color:white;
    font-size: 20px;
    margin-left: 0;
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}



#figma {
    height: 1000px;
    width: 100%;
    margin-top: -240px;
    margin-bottom: -230px;
    transform: scale(0.6);
    border: none;
}


#figmaipad {
    height: 600px;
    width: 100%;
    transform: scale(1);
    border: none;
    display: none;
}

#nofigmaheader {
    margin-top: -41px;
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

#figmavideoframe {
    background-color: white;
    display: block;
}


h1 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: 350;
    line-height: 2.1;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}


.abstandobennormal {
    margin-top: 4rem;
}
.abstandobenmittel {
    margin-top: 6rem;
}
.abstandobengroß {
    margin-top: 10rem;
}
.abstandobenklein {
    margin-top: -4rem;
}
.abstandunten {
    margin-bottom: 200px;
}
.abstanduntenklein {
    margin-bottom: -50px;
}



/*Introbild*/
.introbild {
    margin-top: 50px;
    position: relative;
    stroke: black;
    height: 80vh;
    opacity: 1;
    background-image: url("../img/home/scooter.png"); 
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.introcart {
    background-image: url("../img/home/smart.png"); 
}
.introgtg {
    background-image: url("../img/home/scooter.png"); 
}
.introesid {
    background-image: url("../img/home/esid.png"); 
}
.introux {
    background-image: url("../img/home/opto.png"); 
}
.introbosch {
    background-image: url("../img/home/bosch.png"); 
}
.introlw {
    background-image: url("../img/home/post2.png"); 
}
.introlucie {
    background-image: url("../img/home/lucie.png"); 
}






#Hello {
    width: 180px;
    float: right;
}

/* UX Opto VR */
#uxresearchpic {
    background-image: url("../img/ux/glasses.png");
}
#uxempathypic {
    background-image: url("../img/ux/test.png");
}
#optician {
    background-image: url("../img/ux/optician.png");
}
#customer {
    background-image: url("../img/ux/customer.png");
}
#protvr{
    background-image: url("../img/ux/protovr.png");
}
#protoview{
    background-image: url("../img/ux/prototyp.png");
}
#protoersteideen{
    background-image: url("../img/ux/protoersteideen.png");
}
#brille2{
    background-image: url("../img/ux/brille2.png");
}
#technik {
    background-image: url("../img/ux/technik.png");
    width: 100%;
    height: 300px;
    background-size: contain;
}
#uxideation {
    background-image: url("../img/ux/ideation.png");
    width: 100%;
}
#post1 {
    background-image: url("../img/ux/1.png");
}
#post2 {
    background-image: url("../img/ux/2.JPG");
}


/* Cart */
#TestObi{
    background-image: url("../img/cart/TestObi.png");
}
#Pain2{
    background-image: url("../img/cart/Pain2.png");
}
#Brainstorming {
    background-image: url("../img/cart/Brainstorming.JPG");
}
#Story1 {
    background-image: url("../img/cart/Story1.png");
}
#Crazy8 {
    background-image: url("../img/cart/Crazy8.png");
}
#Konzept2 {
    background-image: url("../img/cart/HMW.png");
}
#cart {
    background-image: url("../img/cart/cart.jpg");
}
#Low1 {
    background-image: url("../img/cart/Low1.png");
}
#high {
    background-image: url("../img/cart/High.png");
}
#Low2 {
    background-image: url("../img/cart/Low2.png");
}
#Mockup2 {
    background-image: url("../img/cart/Mockup.png");
    width: 100%;
}
/* Method */
#empathy {
    background-image: url("../img/method/Empathy/empathy.png");
}
#cultureprobe {
    background-image: url("../img/method/Empathy/cultureprobe.jpeg");
}
#brainstorm {
    background-image: url("../img/method/Ideation/brainstorm.png");
}
#crazy8 {
    background-image: url("../img/method/Ideation/crazy8.JPG");
}
#test1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto; 
    height: 100%;
    z-index: -1000; 
    overflow: hidden;
}
#testpng {
    background-image: url("../img/method/Test/test1.png");
}
#test2 {
    background-image: url("../img/method/Test/test2.png");
}
/* About */
#speak {
    background-image: url("../img/aboutme/speak.png");
    height: 400px;
}
#health {
    background-image: url("../img/aboutme/health.jpg");
    height: 400px;
}
#energy {
    background-image: url("../img/aboutme/energy.png");
    height: 400px;
}
#port {
    margin-top: 100px;
    background-image: url("../img/aboutme/port.png");
    background-size: contain;
    height: 400px; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#blockchain {
    background-image: url("../img/aboutme/blockchain.png");
    height: 400px;
}
#dyp {
    background-image: url("../img/aboutme/dyp.JPG");
    height: 400px;
}


/* .vimeo-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
 }
 .vimeo-wrapper iframe {
    height: 100vh; 
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 } */
 

/* Bosch */
#boschresearch{
    background-image: url("../img/bosch/research.jpg");
}
#boschresearch2{
    background-image: url("../img/bosch/research2.jpg");
}
#management{
    background-image: url("../img/bosch/management.JPG");
    width: 100%;
    background-size: contain;
}
#E1{
    background-image: url("../img/bosch/E1.png");
    width: 100%;
    height: 400px;
    background-size: contain;
}
#E2{
    background-image: url("../img/bosch/E2.png");
    width: 100%;
    height: 400px;
    background-size: contain;
}
/* ML */
#p1{
    background-image: url("../img/ml/p1.JPG");
}
#p2{
    background-image: url("../img/ml/p2.JPG");
}
#ml1{
    background-image: url("../img/ml/1.png");
    width: 100%;
    height: 400px;
    background-size: contain;
}
#ml2{
    background-image: url("../img/ml/2.png");
    width: 100%;
    height: 200px;
    background-size: contain;
}
/* LW */
#werbung{
    background-image: url("../img/letztewerbung/werbung.jpg");
}
#werbungsticker{
    background-image: url("../img/letztewerbung/werbungsticker.jpg");
}
#lw12{
    background-image: url("../img/letztewerbung/lw12.png");
    width: 100%;
    height: 300px;
    background-size: contain;
    background-color: #787D85;
}
#lw22{
    background-image: url("../img/letztewerbung/lw22.png");
    width: 100%;
    height: 250px;
    background-size: contain;
    background-color: #787D85;
}
#lw32{
    background-image: url("../img/letztewerbung/lw32.png");
    width: 100%;
    background-size: contain;
    background-color: #787D85;
}
#Mockup{
    background-image: url("../img/letztewerbung/Mockup.png");
    width: 100%;
    background-size: contain;
}
/* Lucie */
#luciegif{
    background-image: url("../img/lucie/luciegif.gif");
    width: 100%;
    background-size: contain;
}
#brille {
    background-image: url("../img/lucie/brille.png");
    width: 100%;
    height: 250px;
    background-size: contain;
}
#lucieresearch {
    background-image: url("../img/lucie/research.png");
    width: 100%;
    background-size: contain;
}
/* gtg */
#accident {
    background-image: url("../img/gtg/accident.JPG");
}
#streetscooters {
    background-image: url("../img/gtg/streetscooters.JPG");
}
#gtgflow {
    background-image: url("../img/gtg/gtgflow.png");
    width: 100%;
    background-size: contain;
}
#gtgoutlook {
    background-image: url("../img/gtg/gtgoutlook.jpg");
}
#gtgwin {
    background-image: url("../img/gtg/gtgwin.jpg");
}
/* esid */
#esidinterview {
    background-image: url("../img/esid/interview.png");
    width: 100%;
    background-size: contain;
}
#esidrecherche {
    background-image: url("../img/esid/recherche.jpg");
    width: 100%;
    background-size: contain;
}
#esidprozess {
    background-image: url("../img/esid/prozess.png");
    width: 100%;
    background-size: contain;
}
#maze1 {
    background-image: url("../img/esid/maze1.jpg");
    background-size: contain;
    height: 300px;
}
#maze2 {
    background-image: url("../img/esid/maze2.jpg");
    background-size: contain;
    height: 300px;
}
#esid1{
    display: none;
}
#esid2{
    display: block;
}
#esid2{
    display: block;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 100; /* Sit on top */
  width: 100%;
  height: 100%; /* Full height */
  background-color: white;
  /* overflow: auto; Enable scroll if needed */
}
/* Modal Content (Image) */
.modal-content {
  opacity: 1;
  border: none;
  box-shadow: none;
  display: block;
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.modal-content:hover {
    opacity: 1;
}
/* Add Animation - Zoom in the Modal */
.modal-content { 
  animation-name: zoom;
  animation-duration: 0.2s;
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* The Close Button */
.close {
  transition: 0.2s;
}



.crop {
    cursor: pointer;
    float: left;
    width: 50%;
    height: 400px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​





.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-12 {
    padding-right: 60px;
    padding-left: 60px;
}



.col-sm-12 {
    overflow: hidden;
}
.col-sm-12 p{
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.col-sm-12 video {
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 0px 5px 15px #C4C4C4;;
    margin-top: 20px;
    margin-bottom: 20px;

}

.contentProjects {
    overflow: hidden;
}

.contentProjects span {
    font-weight: 700;
}

.contentProjects img,
.contentProjects video{
    display: block;
}

.contentProjects p,
.contentProjects h3,
.contentProjects h1 {
    /*Hier wird die Breite des Textblockes eingestellt*/
    max-width: 70rem;
    margin: auto;
    line-height: 1.5;
}

.small-padding-h3-p p {
    padding-top: 2rem;
    margin-top: 0%;
}

#bold {
    font-weight: 600;
    color: black;
}
.quote p {
    border-left: 2px solid transparent;
    border-left-color: black;
    padding-left: 20px;
    margin-top: 2rem;
}

.description {
    margin-top: 2rem;
    /*es soll zusammen 4 sein also 2 +2 = 2*/
}

.description p {
    margin-top: 2rem;
}

.description h3 {
    margin-top: 4rem;
}




/*Header*/
.main-header-container {
    background: white;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* My Logo */
.logo ul a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: grey;
    text-decoration: none;
    float: left;
}


/*Navbar for Phone */
.navphone {
    display: none;
}

/* Navbar für Computer */
.main-header nav {
    float: right;
    padding-top: 0px;
    /*Abstand der Navigation von oberer Grenze*/
}

.main-header ul {
    /*ul hat eigentlich vordefinierte margin & padding*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*Sonst würden Bullet Points angezeigt werden*/
}

.main-header li {
    float: left;
    /*Anordnung der List: right wäre andersrum & top übereinander gestellt*/
    /*margin: 0 10px;*/
}

.main-header nav ul a {
    font-size: 18px;
    font-weight: 350;
    /*Dicke der Schrift*/
    display: block;
    color: grey;
    text-decoration: none;
    padding: 0 0px 0 30px;
}

.main-header ul a:hover {
    color: black;
    font-weight: 500;
}

/* Navbar für Projekte */
.projnav {
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 25px;
    background: white;
    margin-bottom: 60px;
    margin-top: 50px;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.projnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.projnav li {
    float: left;
}

.projnav nav ul a {
    font-size: 18px;
    font-weight: 300;
    display: block;
    color: grey;
    margin: 0px 30px 10px 0px;
    text-decoration: none;
}

.projnav ul a:hover {
    color: black;
}



#rect1 {
    display: block;
}


#rect1 {
    position: relative;
    margin-top: 20px;
    height: 600px;
    opacity: 1;
    stroke: black;
    border-radius: 10px;
    background-image: url("../img/home/scooter.png"); 
    background-size: cover;
    background-position: center;
}


/* #rect2 img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 20%;
    bottom: 0;
    display: inline-block;
}

#rect2 a {
    font-size: 23px;
    font-weight: 600;
    color: black; 
    background: white; 
    position: absolute;
    left: 60px;
    padding: 5px 10px 5px 5px;
    /* border-radius: 10px; */
/* }
#rect2 a:hover {
    color: #0075FF; 
} */ 


/*Projektansicht*/
.columns-container {
    margin-top: 200px;
    margin-left: 0%;
    /* ist bereits in dem oberen Intro Container drin*/
    padding-left: 60px;
    padding-right: 60px;
    /* Hier 2 weniger, weil bei columns article nochmal right +2% */
}


.columns-container a {
    stroke: solid black 2px;
    cursor: url('hand.svg'), default;
}

.columns article,
.columns section{
    width: 50%;
    /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 3 Spalten*/
    float: left;
    padding-top: 0%;
}
.columns article{
    padding-right: 2%;
    /* border-left: 1px solid #bfb6a8; */
}
.proj {
    height: 350px;
    margin-top: 2rem;
    border-style: solid ;
    border-color: black;
    position: relative;
    float: left;
    /*Hierdurch wird der Text im horizontal Viereck richtig zentriert*/
    text-align: center;
    vertical-align: center;
    width: 100%;
    background: white;
    border-radius: 10px;
}
.proj img {
height: 150px;
}


.mainpagekastenschrift  h2, 
.mainpagekastenschrift  h3,
.mainpagekastenschrift  h4 {
    line-height: normal;
    text-align: left; 
    margin-left: 10%;
    margin-right: 10%;
}
.mainpagekastenschrift span {
    padding: 0px 5px 0px 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.mainpagekastenschrift h2 {
    color: black;
    font-weight: 800;
    font-size: 30px;
}
.columns-container h3{
    color: black;
    font-weight: 800;
    font-size: 30px;
}


.mainpagekastenschrift h2 {
    margin-top: 15%;
}

.mainpagekastenschrift h4 {
    margin-top: 5%;
    font-size: 20px;
    font-weight: 500;
    color: black;
}


.introduction {
    margin-top: 300px;
    margin-bottom: 300px;
      }
    
    .introduction h3 span{
        background-image: linear-gradient(transparent 0%, transparent 65%, yellow 60%, yellow 90%, transparent 90%, transparent);
        display: inline;
        font-weight: 700;
        font-size: 45px;
        line-height: 1.5;
    }
    .introduction h3{
        font-weight: 700;
        font-size: 45px;
    }



/* Speziell für Projekte */

.projbackground {
    background-color: transparent;
    /* background: #DFDEDF url(../img/home/smart.png) center no-repeat; */
    background-size: 120%;
}


/* Hover über Projektansicht */
.overlayproj {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    border-radius: 10px;
}

.proj:hover .overlayproj {
    opacity: 0.6;
    /* cursor: crosshair; */
}
.mainpagekastenschrift:hover  h3 span,
.mainpagekastenschrift:hover  h4 span{
    /* background: rgba(255, 255, 255,  1) */
    color: transparent
}





/*Für einzelne Projekte*/
.gtghover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/scooter.png) center no-repeat;
    background-size: cover;
}
.gtg:hover  h2 span{
    background: rgba(255, 255,  0);
    opacity: 80%;
}

.luciehover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/lucie.png) center no-repeat;
    background-size: cover;
}
.lucie:hover  h2 span{
    background: rgba(255, 255,  0);
    opacity: 80%;
}

.uxhover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/opto.png) center no-repeat;
    background-size: cover;
}
.ux:hover  h2 span{
    background: rgba(255, 255,  0);
    opacity: 80%;
}

.letztwerbunghover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/post.png) center no-repeat;
    background-size: cover;
}
.werbung:hover  h2 span{
    background: rgba(255, 255,  0);
    opacity: 80%;
}

.carthover {
background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/smart.png) center no-repeat;
/* background: url(../img/home/smart.png) center no-repeat; */
background-size: cover;
}
.cart:hover  h2 span{
    background: rgba(255, 255,  0);
    opacity: 80%;
}

.boschhover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/bosch.png) center no-repeat;
    background-size: cover;
}
.bosch:hover  h2 span{
    background: rgba(255, 255,  0);
    opacity: 80%;
}
.esidhover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/esid.png) center no-repeat;
    background-size: cover;
    }




/*Kapitelüberschrift*/
.chapter {
    padding-left: 60px;
    margin-top: 150px;
    padding-bottom: 1%;
    vertical-align: baseline
}

#chapternumber {
    vertical-align: middle;
    background-image: linear-gradient(transparent 0%, transparent 65%, yellow 60%, yellow 90%, transparent 90%, transparent);
    display: inline;
    color: black;
    font-weight: 700;
    font-size: 40px;
}






/*Credits*/
.pos-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pos-center p {
    padding-left: 60px;
    padding-right: 60px;
}

.credit {
    margin-top: 50px;
    padding-top: 70px;
    background-color: #FAFAFA;
}

.credit img {
    margin-left: 8px;
    margin-bottom: 3px;
    width: 25px;
}

.credit p {
    padding-bottom: 20px;
}

.credit a {
    text-decoration: none;
    font-weight: 300;
    color: grey;
}

.credit a:hover {
    color: black;
}



/*Projekte*/
.intro {
    padding-top: 200px;
    margin-left: 60px;
    margin-right: 100px;
}

.intro h1 {
    background-image: linear-gradient(transparent 0%, transparent 65%, yellow 60%, yellow 90%, transparent 90%, transparent);
    display: inline;
    color: black;
    font-weight: 700;
    font-size: 45px;
}

.intro p {
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
}

/*intropic*/
/* .intropic {
    margin-top: 35px;
    position: relative;
    height: 400px; 
    width: 100%;
}

.boschintro {
    background: #005898 url(../img/bosch/tractor.png) center no-repeat;
    background-size: 20%;
}

.lucieintro {
    background: #101926 url(../img/lucie/lucie.png) center no-repeat;
    background-size: contain;
}


.mlintro {
    background: #478C6B url(../img/ml/speak.png) center no-repeat;
    background-size: contain;
}

.gtgintro {
    background: #22D727 url(../img/gtg/scooter.png) center no-repeat;
    background-size: 20%;

}


.lwintro {
    background: #CF0132 url(../img/letztewerbung/werbung3.png) center no-repeat;
    background-size: contain;
}


.cartintro {
    background: #A180FF url(../img/cart/intro.png) center no-repeat;
    background-size: 20%;
}


.uxintro {
    background: #3193FE url(../img/ux/ok.png) center no-repeat;
    background-size: 20%;
}


.whattintro {
    background: #FDB056 url(../img/whatt/whatt.png) center no-repeat;
    background-size: contain;
}


.methodintro {
    background: #75B4FE url(../img/method/toolset.png) center no-repeat;
    background-size: 20%;
}


.botintro {
    background: #0ACE82 url(../img/bot/bot.png) center no-repeat;
    background-size: contain;
}
.botgit img {
    margin-top: 2%;
    width: 3%;
} */







/*Infos über das Projekt*/
/* Klein */
.projinfo-container {
    margin: 80px 0 80px 0;
    display: none;
    text-align: center;
    /* margin: 80px 0 80px 0; */
}
.projcolumns article,
.projcolumns section  {
    width: 23%;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    /* background: #eee; */
}
.projinfo {
    line-height: normal;
}
/* Groß */
.projcolumns2{
    z-index: 10;
    margin: 80px 0 80px 0;
    width: 100vw;
    background-color: white;
    text-align: center;
}
.about {
    padding: 50px 0 100px 0;
    margin: 0px 0 0px 0;
}

.projinfo2 {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding-right: calc((100vw - 900px) * 0.06);
}
.projinfo3 {
    display: inline-block;
    text-align: left;
    padding-right: 0px;
}


/*Taskcontainer*/
.taskcontainer {
    position: relative;
    padding: 100px 0 100px 0;
    width: 100%;
    background: #FAFAFA;
}
#evocart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 300px;
}


.tools {
    background: none;
}

/*HMW Container*/
.HMW {
    position: relative;
    margin: 5% 0 0 0;
    padding: 10% 0 10% 0;
    text-align: center;
    width: 100%;
    background: #FAFAFA;
}

.nomarging {
    margin: 0% 0 0% 0;

}

.HMW p {
    font-weight: 500;
}


/*Lucie Conceptkasten: Gif mit Fahrrad*/
.luciegif {
    position: relative;
    background: #101926;
}
/*InteractionKasten*/
.interactionpic {
    position: relative;
    background: #FAFAFA;
}


/*SliderKasten Lucie*/
.interactiongif {
    height: 100%;
    background: #121924;
    margin-top: 4rem;
}

.mySlides {
    display: none;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 25%;
}

.w3-left {
    margin-bottom: 17%;
    margin-left: 0%;
}

.w3-right {
    margin-bottom: 17%;
    margin-right: 0%;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.kreisanzeige {
    text-align: center;
    padding-bottom: 2%;
}

.w3-badge {
    height: 10px;
    width: 10px;
    padding-right: 0;
    padding-left: 0;
}

/*Sliderkasten Methoden*/
.methodscontainer {
    height: 100%;
    background: #FAFAFA;
}
.methodscontainer2 {
    height: 100%;
    background: white;
}

.mySlides1 {
    display: none;
    width: 70%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 15%;
}

.mySlides2 {
    display: none;
    width: 70%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 15%;
}

.methodenanpassung {
    margin-bottom: 27%;
}


/*ResultKasten*/
.responsive-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.responsive-video {
    position: relative;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    max-width: 100%;
}





.resulttext {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result p {
    float: left;
}

.result img {
    margin-left: 5px;
    margin-bottom: 22px;
    width: 25px;
}


/*MarvinBot*/
.marvinchat {
    margin: 0% 0 0% 0;
    padding: 0% 20% 0% 20%;
}

/*About*/
#check {
    width: 19px;
    padding-right: 5px;
}

/*Weitere Einstellungen*/

/* Clearfix */
.clearfix {
    overflow: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}




/* Mediaqueries */

/*Veränderungen bei unterschiedlichen Screen Größen*/


/*Großer Bildschirm (wie bei Bosch)*/
@media all and (min-width: 1300px) {

    .main-header-container {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 20px;
        padding-bottom: 20px;
    }

/*Projekte*/
.intro {
    margin-left: 20vw;
}
    
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-12 {
    padding-right: 20vw;
    padding-left: 20vw;
}



.columns-container {
    padding-left: 20vw;
    padding-right: 20vw;
}
.chapter {
    padding-left: 20vw;
}
.projnav {
    padding: 4% 0% 25px 20vw;
}

.further {
    margin-top: 200px;
}
}



/* Kleiner Bildschirm */
@media all and (max-width: 800px) {
    

    /*Introbild*/
.introbild {
    height: 50vh;
    background-attachment: scroll;
}


   /* Singlevideo */
   .col-sm-12 video {
    width: 100%;
}


.columns article,
.columns section {
    width: 100%;
}


  .projcolumns2  {
        display:none;
    }

    .projinfo-container{
        display: block;
    }
     .projcolumns article,
     .projcolumns section {
        width: 35%;
    } 
    .columns article{
        padding-right: 0%;
        /* border-left: 1px solid #bfb6a8; */
    }
    

.open {
margin-top: 0px;
font-size: 30px;
cursor:pointer; 
} 

.chapter1 {
    margin-top: 70px;
}

/*Projektnavbar*/
.projnav {
    display: none; 
}

/* Veränderung der Bilder & Videos */
.crop {
    width: 100%;
    height: 300px; 
}​


    .proj:before {
        padding-top: 60%;
    }

    /*About Me Page*/
    .aboutmebild img {
        margin-left: 4%;
        float: right;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .credit {
        margin-top: 10%;
    }
}





/* Handyansicht */
@media all and (max-width: 600px) {


    /*Navbar  */
.main-header-container {
    padding-right: 20px;
    padding-left: 20px;
}

 /*Veränderung der Navbar */
 .bignav {
    display: none;
}
.navphone {
    display: block;
}
.navphone span {
    float: right;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    color: grey;
}
.overlay a:hover,
.overlay a:focus {
    color: black;
}
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
}
.overlay a {
    font-size: 20px
}



    .introduction h3 span{
        font-size: 35px;
    }
    .introduction h3{
        font-size: 35px;
    }
    #Hello {
        width: 125px;
        float: right;
    }



 /*Rolle, Zeit, etc. Ansicht*/
 .projcolumns article,
 .projcolumns section {
    width: 50%;
}

    /* Landing Page */
    #rect1 {
        display: none;
    }

.intro-container {
    margin-left: 20px;
    margin-right: 20px;
}

    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-12 {
        padding-right: 20px;
        padding-left: 20px;
    }
    .columns-container {
        padding-left: 20px;
        padding-right: 20px;
    }

.open {
    margin-top: -10px;
    font-size: 45px;
} 
  

/*Projekte*/
.intro {
    margin-left: 20px;
}

.intro h1 {
    margin-bottom: 10px;
}

/*intropic*/
.intropic {
    height: 250px; 
}
.uxintro {
    background-size: 90%;
}

.projinfo-container {
    margin-top: 80px;
    margin-bottom: 80px;
    background: white;
}

/*Kapitelüberschrift*/
.chapter {
    padding-left: 20px;
    margin-top: 70px;
    padding-bottom: 2%;
    vertical-align: baseline
}
}






