/*Allgemeine Definitionen und Festlegungen*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
}

h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.8;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}



/*Grit*/
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-12 {
    padding-right: 4%;
    padding-left: 4%;
}
.col-sm-12 {
    overflow: hidden;
}
.contentProjects {
    overflow: hidden;
}
.contentProjects img {
    width: 100%;
    /* margin-top: 1.667rem !important;
    margin-bottom: 1.667rem !important; */
    margin: 0 auto;
    display: block;
}
.contentProjects p,
.contentProjects h3 {
    /*Hier wird die Breite des Textblockes eingestellt*/
    max-width: 70rem;
    margin: auto;
    margin-top: 0%;
    padding-top: 4rem;
}
.small-padding-h3-p p,
.small-padding-h3-p h3 {
    padding-top: 2%;
}
.kleinesbild img{ 
    max-width: 70rem;
}




/*Header*/
.main-header-container {
    background: white;
    padding: 2% 4% 1% 4%;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
}
/* My Logo */
.logo ul a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: grey;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    float: left;
}
/*Navbar for Phone */
.navphone {
    display: none;
}
/* Navbar für Computer */
.main-header nav {
    float: right;
    padding-top: 0px;
    /*Abstand der Navigation von oberer Grenze*/
}
.main-header ul {
    /*ul hat eigentlich vordefinierte margin & padding*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*Sonst würden Bullet Points angezeigt werden*/
}
.main-header li {
    float: left;
    /*Anordnung der List: right wäre andersrum & top übereinander gestellt*/
    /*margin: 0 10px;*/
}
.main-header nav ul a {
    font-size: 18px;
    font-weight: 300;
    /*Dicke der Schrift*/
    display: block;
    color: grey;
    text-decoration: none;
    margin: 0px 0px 10px 30px;
}
.main-header ul a:hover {
    color: black;
}

/* Navbar für Projekte */
.projnav {
    background: white;
    padding: 4% 0% 25px 4%;
    margin-bottom: -1%;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.projnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.projnav li {
    float: left;
}
.projnav nav ul a {
    font-size: 18px;
    font-weight: 300;
    display: block;
    color: grey;
    margin: 0px 30px 10px 0px;
    text-decoration: none;
}
.projnav ul a:hover {
    color: black;
}



/*MainPage*/

/*Introkasten*/
.intro-container {
    position: relative;
    background: white;
    background-size: cover;
    margin-top: 7%;
    margin-left: 4%;
}
.introphone {
    display: none;
}
/* Rectangle with my photo */
.rect1 {
    position: relative;
    width: 45%;
    background: #FEEE75;
    border-radius: 10px;
}
.rect1:before {
    content: "";
    display: block;
    padding-top: 115%;
}
.rect1 img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 20%;
    bottom: 0;
    display: inline-block;
}
/* Rectangle with introduction */
.rect2 {
    position: absolute;
    width: 50%;
    margin-left: 35%;
    /* margin-top: 10%; */
    margin-top: -45%;
    /*um das Padding von rect1 auszugleichen */
    background: white;
    border-radius: 10px;
    z-index: 2;
}
.rect2 h1 {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 30px;
    font-size: 120px;
    font-weight: 450;
}
.rect2 h1 span {
    display: block;
    font-size: 23px;
    font-weight: 100;
    line-height: 1.2;
}




/*Projektansicht*/
.columns-container {
    margin-left: 0%;
    /* ist bereits in dem oberen Intro Container drin*/
    padding-left: 4%;
    padding-right: 2%;
    /* Hier 2 weniger, weil bei columns article nochmal right +2% */
}
.columns-container a {
    cursor: url('cross.png'), default;
}
.columns article {
    width: 33.33%;
    /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 3 Spalten*/
    float: left;
    padding-top: 2%;
    padding-right: 2%;
    /* border-left: 1px solid #bfb6a8; */
}
.proj {
    position: relative;
    float: left;
    /*Hierdurch wird der Text im Viereck richtig zentriert*/
    text-align: center;
    width: 100%;
    background: #FEEE75;
    border-radius: 10px;
}
.proj:before {
    float: left;
    /*Hierdurch wird der Text im Viereck richtig zentriert*/
    content: "";
    display: block;
    padding-top: 80%;
}

/* Speziell für Lucies Diamond */
.lucie {
    background: #131F2E url(../lucie.png) center no-repeat;
    background-size: 50%;
}
.lucie h2 {
    color: transparent;
    padding-top: 20%;
    font-weight: 500;
}
.lucie h3 {
    font-weight: 200;
    font-size: 20px;
    margin-top: -2%;
    /*Ausgleich von oben*/
    color: transparent;
}

/* Hover über Projektansicht */
.overlayproj {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    background-color: #131F2E;
    border-radius: 10px;
}
.proj:hover .overlayproj {
    opacity: 0.9;
    /* cursor: crosshair; */
}
.proj:hover h2 {
    /*Change font color when hovering the div*/
    color: white;
}
.proj:hover h3 {
    color: white;
}



/*Footer*/
.slogan-container {
    margin-top: 5%;
    background: #f7f7f7;
}
#slogansmal {
    display: none;
}
.slogan {
    padding-left: 4%;
    padding-bottom: 5%;
}
.slogan p {
    line-height: 1.6;
    font-size: 20px;
    float: left;
    margin-top: 2%;
}
.slogan span {
    font-weight: 700;
}
.slogan img {
    margin-left: 2%;
    margin-bottom: 0%;
}


/*Credits*/
.pos-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pos-center p {
    padding-left: 4%;
    padding-right: 4%;
}
.credit {
    margin-top: 5%;
}
.credit img {
    margin-left: 8px;
    margin-bottom: 3px;
    width: 25px;
}
.credit p {
    padding-bottom: 2%;
}
.credit a {
    text-decoration: none;
    font-weight: 300;
    color: grey;
}
.credit a:hover {
    color: black;
}



/*Projekte*/

/*Lucies Diamond*/
.lucieintro {
    margin-top: 20%;
    margin-left: 4%;
}
.lucieintro h1{
    margin-bottom: 0.8%
}
/*Luciebild*/
.luciebild {
    margin-top: 5%;
    position: relative;
    width: 100%;
    background: #101926;
}
.luciebild img {
    padding-top: 7%;
    padding-bottom: 7%;
    margin-left: 37%;
    width: 20%;
}

/*Infos über das Projekt*/
.projinfo-container {
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    margin-left: 7%;
}
.projcolumns article {
    width: 25%;
    /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 3 Spalten*/
    float: left;
    padding-top: 2%;
    padding-right: 2%;
    /* border-left: 1px solid #bfb6a8; */
}

/*Taskcontainer*/
.taskcontainer {
    position: relative;
    margin: 5% 0 5% 0;
    padding: 10% 0 10% 0;
    width: 100%;
    background: #FAFAFA;
}

/*Kapitelüberschrift*/
.chapter {
    padding-left: 4%;
    margin-top: 10%;
    padding-bottom: 2%;
    vertical-align: baseline
}
#chapternumber {
    vertical-align: middle;
    font-size: 45px;
    font-weight: 500;
    margin-right: 5px;
}
#chaptername {
    vertical-align: middle;
    font-size: 30px;
    font-weight: 400;
}
/*Conceptkasten: Gif mit Fahrrad*/
.luciegif {
    position: relative;
    width: 100%;
    background: #101926;
}
.luciegif img {
    margin-left: 18%;
    width: 60%;
}

/*InteractionKasten*/
.interactionpic {
    position: relative;
    width: 100%;
    background: #FAFAFA;
}
#brille {
    padding-top: 6%;
    padding-bottom: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*InteractionGIFKasten*/
.interactiongif {
    height: 100%;
    background: #111925;
    margin-top: 4rem;
}
.mySlides {
    display: none;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 25%;
}
.w3-left {
    margin-bottom: 17%;
    margin-left: 0%;
}
.w3-right {
    margin-bottom: 17%;
    margin-right: 0%;
}
.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}
.kreisanzeige {
    text-align: center;
    padding-bottom: 2%;
}
.w3-badge {
    height: 10px;
    width: 10px;
    padding-right: 0;
    padding-left: 0;
}

/*ResultKasten*/
.responsive-video iframe {
    position: absolute;
    top: -10%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: 93%;
    height: 100%;
}
.responsive-video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    /* Default for 1600x900 videos 16:9 ratio*/
    overflow: hidden;
}
.resulttext {
    margin-top: -6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result p {
    float: left;
}
.result img {
    margin-left: 5px;
    margin-bottom: 22px;
    width: 25px;
}




.more {
    margin-top: 10%;
    width: 100%;
    background-color: #FAFAFA;
}






/*Weitere Einstellungen*/

/* Clearfix */
.clearfix {
    overflow: auto;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}







/* Mediaqueries */

/*Veränderungen bei unterschiedlichen Screen Größen*/

/* Halber Bildschirm Ansicht */
@media screen and (max-width: 800px) {

    /*Ansicht der Projekte Rechtecke*/
    .columns article {
        width: 50%;
        /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 1 Spalte*/
    }
    .proj:before {
        padding-top: 50%;
    }
}


/* Ipad, kleiner Bildschirmansicht */
@media screen and (max-width: 650px) {

    /*Veränderung der Navbar */
    .bignav {
        display: none;
    }
    .navphone {
        display: block;
    }
    .navphone span {
        float: right;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        display: block;
        color: grey;
    }
    .overlay a:hover,
    .overlay a:focus {
        color: black;
    }
    .overlay .closebtn {
        position: absolute;
        right: 15px;
        font-size: 60px;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
    }

    /*Projektnavbar*/
    .projnav {
        padding-top: 5%;
    }

    /*Rolle, Zeit, etc. Ansicht*/
    .projcolumns article {
        width: 50%;
    }

    /* Veränderrung der Introduction */
    .intro-container {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .rect1 {
        display: none;
    }
    .rect2 {
        display: none;
    }
    .introphone {
        display: block;
    }
    .introphone h1 {
        margin-top: 2%;
        margin-bottom: 5%;
        font-size: 50px;
        font-weight: 450;
    }
    .introphone h1 span {
        margin-top: 3%;
        display: block;
        font-size: 25px;
        font-weight: 100;
    }


    /* Veränderrung der Projektansicht */
    .columns article {
        width: 100%;
        /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 1 Spalte*/
    }
    .proj:before {
        padding-top: 50%;
    }
}



/* Handyansicht */
@media screen and (max-width: 400px) {

    /* Überschriften und Footer*/
    h1 {
        font-size: 25px;
        padding-bottom: 5%;
    }
    #slogansmal {
        display: block;
    }
    #sloganbig {
        display: none;
    }
    .slogan-container {
        margin-top: 15%;
        background: #f7f7f7;
    }
    .slogan p {
        line-height: 1.6;
        font-size: 18px;
        float: left;
        margin-top: 2%;
    }
    .slogan {
        margin-top: 5%;
        padding-bottom: 40%;
    }
    .slogan h1 {
        padding-top: 8%;
    }
    .legal {
        margin-top: 10%;
    }
    /*Lucie*/
    /*Rolle, Zeit, etc. Ansicht*/
    .projcolumns article {
        width: 100%;
    }
}