/*Allgemeine Definitionen und Festlegungen*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Nunito', sans-serif;
    line-height: 1;
}

/* Etwas ins Zentrum :) */
.center {
    text-align: center;
}

/* Button */
.buttonselect {
    background-color: grey;
    color: white;
    font-size: 16px;
    border: solid 2px;
    border-color: black;
    margin-left: 2rem;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttonnotselect {
    background-color: white;
    color: black;
    border: solid 2px;
    border-color:black;
    font-size: 16px;
    margin-left: 2rem;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}


#figma {
    height: 1000px;
    width: 100%;
    margin-top: -240px;
    margin-bottom: -230px;
    transform: scale(0.6);
    border: none;
}


#figmaipad {
    height: 600px;
    width: 100%;
    transform: scale(1);
    border: none;
    display: none;
}

#nofigmaheader {
    margin-top: -41px;
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

#figmavideoframe {
    background-color: white;
    display: block;
}


h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.8;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

.abstandoben{
    margin-top: 10rem;
}
.abstandobennormal {
    margin-top: 4rem;
}
/* .scale video{
    -moz-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
    -ms-transform:scale(1.5);
    transform:scale(1.5);
} */


/* UX Opto VR */
#uxresearchpic {
    background-image: url("../img/ux/glasses.png");
}
#uxempathypic {
    background-image: url("../img/ux/test.png");
}
#optician {
    background-image: url("../img/ux/optician.png");
}
#customer {
    background-image: url("../img/ux/customer.png");
}
#protvr{
    background-image: url("../img/ux/protovr.png");
}
#protovr{
    position: absolute;
    top: 50%; 
    left: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto; 
    height: 100%;
    z-index: -1000; 
    overflow: hidden;
}
#protoersteideen{
    background-image: url("../img/ux/protoersteideen.png");
}
#brille2{
    background-image: url("../img/ux/brille2.png");
}
#technik {
    background-image: url("../img/ux/technik.png");
    width: 100%;
    height: 300px;
    background-size: contain;
}
#uxideation {
    background-image: url("../img/ux/ideation.png");
    width: 100%;
}

/* Cart */
#TestObi{
    background-image: url("../img/cart/TestObi.png");
}
#Brainstorming {
    background-image: url("../img/cart/Brainstorming.JPG");
}
#Story1 {
    background-image: url("../img/cart/Story1.png");
}
#Crazy8 {
    background-image: url("../img/cart/Crazy8.png");
}
#Konzept2 {
    background-image: url("../img/cart/Konzept2.png");
}
#cart {
    background-image: url("../img/cart/cart.jpg");
}
#Low2 {
    background-image: url("../img/cart/Low2.png");
}
#Mockup {
    background-image: url("../img/cart/Mockup.png");
    width: 100%;
}
/* Method */
#empathy {
    background-image: url("../img/method/Empathy/empathy.png");
}
#cultureprobe {
    background-image: url("../img/method/Empathy/cultureprobe.jpeg");
}
#brainstorm {
    background-image: url("../img/method/Ideation/brainstorm.png");
}
#crazy8 {
    background-image: url("../img/method/Ideation/crazy8.JPG");
}
/* About */
#speak {
    background-image: url("../img/aboutme/speak.png");
    height: 300px;
}
#health {
    background-image: url("../img/aboutme/health.jpeg");
    height: 300px;
}
#energy {
    background-image: url("../img/aboutme/energy.png");
    height: 300px;
}
#blockchain {
    background-image: url("../img/aboutme/blockchain.png");
    background-size: contain;
    height: 300px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 100; /* Sit on top */
  width: 100%;
  height: 100%; /* Full height */
  background-color: white;
  /* overflow: auto; Enable scroll if needed */
}
/* Modal Content (Image) */
.modal-content {
  opacity: 1;
  border: none;
  box-shadow: none;
  display: block;
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.modal-content:hover {
    opacity: 1;
}
/* Add Animation - Zoom in the Modal */
.modal-content { 
  animation-name: zoom;
  animation-duration: 0.2s;
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* The Close Button */
.close {
  transition: 0.2s;
}




.videokasten{
    float: left;
    width: 50%;
    height: 400px; 
}
.crop {
    cursor: pointer;
    float: left;
    width: 50%;
    height: 400px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​






.crop_abstandoben {
    float: left;
    width: 50%;
    height: calc((100vw - 20px) * 0.32);
    overflow: hidden;
    margin-top: 5rem;
}

.crop_abstandoben img {
    width: 50%;
    /* margin: -75px 0 0 -100px; */
}


/*Grit*/
.textmitte {
    text-align: center;
}

.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-12 {
    padding-right: 60px;
    padding-left: 60px;
}

.col-sm-12 {
    overflow: hidden;
}
.col-sm-12 p{
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.contentProjects {
    overflow: hidden;
}

.contentProjects span {
    font-weight: 500;
}


.contentProjects img,
.contentProjects video{
    display: block;
}

.contentProjects p,
.contentProjects h3,
.contentProjects h1 {
    /*Hier wird die Breite des Textblockes eingestellt*/
    max-width: 70rem;
    margin: auto;
    line-height: 1.5;
}

.small-padding-h3-p p {
    padding-top: 2rem;
    margin-top: 0%;
}

.kleinesbild img {
    max-width: 330px;
}
.mittelbild img {
    max-width: 800px;
}
.mittelbild video {
    max-width: 800px;
}
#bold {
    font-weight: 500;
    color: black;
}
.quote p {
    border-left: 2px solid transparent;
    border-left-color: black;
    padding-left: 20px;
    margin-top: 2rem;
}

.description {
    margin-top: 2rem;
    /*es soll zusammen 4 sein also 2 +2 = 2*/
}

.description p {
    margin-top: 2rem;
}

.description h3 {
    margin-top: 4rem;
}




/*Header*/
.main-header-container {
    background: white;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* My Logo */
.logo ul a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: grey;
    text-decoration: none;
    float: left;
}


/*Navbar for Phone */
.navphone {
    display: none;
}

/* Navbar für Computer */
.main-header nav {
    float: right;
    padding-top: 0px;
    /*Abstand der Navigation von oberer Grenze*/
}

.main-header ul {
    /*ul hat eigentlich vordefinierte margin & padding*/
    margin: 0;
    padding: 0;
    list-style: none;
    /*Sonst würden Bullet Points angezeigt werden*/
}

.main-header li {
    float: left;
    /*Anordnung der List: right wäre andersrum & top übereinander gestellt*/
    /*margin: 0 10px;*/
}

.main-header nav ul a {
    font-size: 18px;
    font-weight: 300;
    /*Dicke der Schrift*/
    display: block;
    color: grey;
    text-decoration: none;
    padding: 0 0px 0 30px;
}

.main-header ul a:hover {
    color: black;
    font-weight: 500;
}

/* Navbar für Projekte */
.projnav {
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 25px;
    background: white;
    margin-bottom: 60px;
    margin-top: 50px;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.projnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.projnav li {
    float: left;
}

.projnav nav ul a {
    font-size: 18px;
    font-weight: 300;
    display: block;
    color: grey;
    margin: 0px 30px 10px 0px;
    text-decoration: none;
}

.projnav ul a:hover {
    color: black;
}



/*MainPage*/

/*Introkasten*/
.intro-container {
    position: relative;
    background: white;
    /* background-size: cover; */
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;

}



/* Rectangle with my photo */

/*Projekte für iPad */
#responsive {
    display: none;
}
#rect1 {
    display: block;
}


#rect1, #responsive {
    position: relative;
    margin-top: 20px;
    height: 600px;
    opacity: 1;
    stroke: black;
    border-radius: 10px;
    background-image: url("../img/home/scooter.png"); 
    background-size: cover;
    background-position: center;
}

/*Introkasten*/
.intro-container2 {
    position: relative;
    background: white;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;

}
.landing2 {
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 10px;
    background-color: transparent;
    background-image: none;
}
#background2 {
    position: relative;
    stroke: black;
    height: 100vh;
    opacity: 1;
    background-image: url("../img/home/scooter.png"); 
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

#rect2 img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 20%;
    bottom: 0;
    display: inline-block;
}

#rect2 a {
    font-size: 23px;
    font-weight: 600;
    color: black; 
    background: white; 
    position: absolute;
    left: 60px;
    padding: 5px 10px 5px 5px;
    /* border-radius: 10px; */
}
#rect2 a:hover {
    color: #0075FF; 
}


#background {
    position: relative;
    margin-top: 20px;
    height: 600px;
    stroke: black;
    border-radius: 10px;
    background-image: url("../img/home/scooter.png"); 
    background-size: cover;
    background-position: center;
}

.landing {
    position: relative;
    margin-top: 20px;
    height: 600px;
    opacity: 1;
    stroke: black;
    border-radius: 10px;
    background-color: white;
    background-image: none;
}
#rect1 img, #responsive img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 20%;
    bottom: 0;
    display: inline-block;
}

#rect1 a, #responsive  a {
    font-size: 23px;
    font-weight: 600;
    color: black; 
    background: white; 
    position: absolute;
    left: 16px;
    padding: 5px 10px 5px 5px;
    /* border-radius: 10px; */
}
#rect1 a:hover {
    color: #0075FF; 
}

.text1 a{
    top: 50px;
}
.text2 a{
    top: 120px;
}
.text3 a{
    top: 190px;
}
.text4 a{
    top: 260px;
}
.text5 a{
    top: 330px;
}
.text6 a{
    top: 400px;
}

#hello {
    color: black; 
    padding-left: 10%;
    padding-right: 30%;
    padding-top: 80px;
    font-size: 120px;
    font-weight: 450;
}

#hello span {
    color: black; 
    display: block;
    margin-top: -30px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2;
}



/*Projektansicht*/
.columns-container {
    margin-top: 100px;;
    margin-left: 0%;
    /* ist bereits in dem oberen Intro Container drin*/
    padding-left: 4%;
    padding-right: 2%;
    /* Hier 2 weniger, weil bei columns article nochmal right +2% */
}

.columns-container a {
    stroke: solid black 2px;
    cursor: url('cross.png'), default;
}

.columns article {
    width: 50%;
    /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 3 Spalten*/
    float: left;
    padding-top: 0%;
    padding-right: 2%;
    /* border-left: 1px solid #bfb6a8; */
}
.proj {
    height: 350px;
    margin-top: 2rem;
    border-style: solid ;
    position: relative;
    float: left;
    /*Hierdurch wird der Text im horizontal Viereck richtig zentriert*/
    text-align: center;
    vertical-align: center;
    width: 100%;
    /* background: #FEEE75; */
    border-radius: 10px;
}
.proj img {
height: 150px;
}

.HeaderMain{
    padding-top: 2%;
}
.HeaderMain h10{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: -5%;
    border-bottom: solid 3px;
    border-bottom-color: #75B4FE;
}
.smallprojects{
    margin-top: 40%;
}
.smallprojects h10{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
    border-bottom: solid 3px;
    border-bottom-color: #75B4FE;
}

.mainpagekastenschrift  h2, 
.mainpagekastenschrift  h3,
.mainpagekastenschrift  h4 {
    line-height: normal;
    text-align: left; 
    margin-left: 10%;
    margin-right: 10%;
}
.mainpagekastenschrift span {
    padding: 0px 5px 0px 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.mainpagekastenschrift h2 {
    color: black;
    font-weight: 800;
    font-size: 30px;
}
.columns-container h3{
    color: black;
    font-weight: 800;
    font-size: 35px;
}
.mainpagekastenschrift h2 {
    margin-top: 15%;
}

.mainpagekastenschrift h4 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}


/* Speziell für Projekte */

.projbackground {
    background: transparent;
    /* background: #DFDEDF url(../img/home/smart.png) center no-repeat; */
    background-size: 120%;
}


/* Hover über Projektansicht */
.overlayproj {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    border-radius: 10px;
}

.proj:hover .overlayproj {
    opacity: 0.6;
    /* cursor: crosshair; */
}
.mainpagekastenschrift:hover  h3 span,
.mainpagekastenschrift:hover  h4 span{
    /* background: rgba(255, 255, 255,  1) */
    color: transparent
}





/*Für einzelne Projekte*/
.gtghover {
    background-color: #0A192D;
    background:linear-gradient(0deg, rgba(34, 220, 39, 0.2), rgba(34, 220, 39,  0.2)), url(../img/home/scooter.png) center no-repeat;
    background-size: cover;
}
.gtg:hover  h2 span{
    background: rgba(34, 220,  39);
}

.luciehover {
    background-color: #0A192D;
    background:linear-gradient(0deg, rgba(10, 25, 45, 0.6), rgba(10, 25, 45,  0.6)), url(../img/home/lucie.png) center no-repeat;
    background-size: cover;
}
.lucie:hover  h2 span{
    background: rgba(79, 114, 158,  1)
}

.uxhover {
    background:linear-gradient(0deg, rgba(49, 147, 254, 0.2), rgba(49, 147, 254, 0.2)), url(../img/home/opto.png) center no-repeat;
    background-size: cover;
}
.ux:hover  h2 span{
    background: rgba(49, 147, 254, 1)
}

.letztwerbunghover {
    background:linear-gradient(0deg, rgba(414, 34, 77, 0.2), rgba(414, 34, 77, 0.2)), url(../img/home/post.png) center no-repeat;
    background-size: cover;
}
.werbung:hover  h2 span{
    background: rgba(414, 34, 77, 1)
}

.carthover {
background:linear-gradient(0deg, rgba(190, 180, 255, 0.2), rgba(190, 180, 255, 0.2)), url(../img/home/smart.png) center no-repeat;
/* background: url(../img/home/smart.png) center no-repeat; */
background-size: cover;
}
.cart:hover  h2 span{
    background: rgba(190, 180, 255, 1);
}

.boschhover {
    background:linear-gradient(0deg, rgba(0, 88, 152, 0.2), rgba(0, 88, 152, 0.2)), url(../img/home/bosch.png) center no-repeat;
    background-size: cover;
}
.bosch:hover  h2 span{
    background: rgba(4, 126, 215, 1)
}


/* .catch p {
    margin-top: calc((100vw - 20px) * 0.08);
    font-size: calc((100vw - 20px) * 0.019);
    background: white;
    color: black;
    border-radius: 10px;
} */




/*Kapitelüberschrift*/
.chapter {
    padding-left: 60px;
    margin-top: 70px;
    padding-bottom: 2%;
    vertical-align: baseline
}
.chapter1 {
    margin-top: 0px;
}

#chapternumber {
    vertical-align: middle;
    font-size: 45px;
    font-weight: 500;
    margin-right: 5px;
}

.chaptername {
    vertical-align: middle;
    font-size: 30px;
    font-weight: 400;
    border-bottom: solid 3px;
    border-bottom-color: #75B4FE;
}




/*Credits*/
.pos-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pos-center p {
    padding-left: 60px;
    padding-right: 60px;
}

.credit {
    margin-top: 70px;
}

.credit img {
    margin-left: 8px;
    margin-bottom: 3px;
    width: 25px;
}

.credit p {
    padding-bottom: 20px;
}

.credit a {
    text-decoration: none;
    font-weight: 300;
    color: grey;
}

.credit a:hover {
    color: black;
}



/*Projekte*/
.intro {
    margin-top: 200px;
    margin-left: 60px;
}

.intro h1 {
    margin-bottom: 10px;
}

/*intropic*/
.intropic {
    margin-top: 35px;
    position: relative;
    height: 400px; 
    width: 100%;
}

.boschintro {
    margin-top: 5%;
    position: relative;
    height: calc((100vw - 20px) * 0.32);
    width: 100%;
    background: white url(../img/bosch/feld.jpg) no-repeat fixed 50%; /*durch fixed bewegt sich Bild nicht mit*/
/*  background: transparent url(../img/layout/laptop.png) center center  no-repeat;*/
    background-size: cover;
    background-size: 100%;
}
.boschborder {
    border-bottom-color: #005898;
}

.lucieintro {
    background: #101926 url(../img/lucie/lucie.png) center no-repeat;
    background-size: contain;
}
.lucieborder {
    border-bottom-color: #101926;
}

.mlintro {
    background: #478C6B url(../img/ml/speak.png) center no-repeat;
    background-size: contain;
}
.mlborder {
    border-bottom-color: #478C6B;
}

.lwintro {
    background: #CF0132 url(../img/letztewerbung/werbung3.png) center no-repeat;
    background-size: contain;
}
.lwborder {
    border-bottom-color: #CF0132;
}

.cartintro {
    background: #A180FF url(../img/cart/intro.png) center no-repeat;
    background-size: contain;
}
.cartborder {
    border-bottom-color: #A180FF;
}

.uxintro {
    background: #3193FE url(../img/ux/ok.png) center no-repeat;
    background-size: 50%;
}
.uxborder {
    border-bottom-color: #3193FE;
}

.whattintro {
    background: #FDB056 url(../img/whatt/whatt.png) center no-repeat;
    background-size: contain;
}
.whattborder {
    border-bottom-color: #FDB056;
}

.methodintro {
    background: #75B4FE url(../img/method/toolset.png) center no-repeat;
    background-size: 20%;
}
.methodborder {
    border-bottom-color: #75B4FE;
}

.botintro {
    background: #0ACE82 url(../img/bot/bot.png) center no-repeat;
    background-size: contain;
}
.botgit img {
    margin-top: 2%;
    width: 3%;
}
.botborder {
    border-bottom-color: #0ACE82;
}






/*Infos über das Projekt*/
/* Klein */
.projinfo-container {
    margin: 80px 0 80px 0;
    display: none;
    text-align: center;
    /* margin: 80px 0 80px 0; */
}
.projcolumns article {
    width: 23%;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    /* background: #eee; */
}
.projinfo {
    line-height: normal;
}
/* Groß */
.projcolumns2{
    margin: 80px 0 80px 0;
    width: 100vw;
    text-align: center;
}
.projinfo2 {
    display: inline-block;
    text-align: left;
    padding-right: calc((100vw - 300px) * 0.08);
}
.projinfo3 {
    display: inline-block;
    text-align: left;
    padding-right: 0px;
}


/*für Whatt*/
/* .projinfo-container-bilder {
    margin-top: -3%;
    margin-bottom: 2%;
    background: white;
}
.projinfo img {
    width: 100%;
}

#surround img:last-child {
    display: none;
}

#surround:hover img:last-child {
    display: block;
}

#surround:hover img:first-child {
    display: none;
} */

/*Prototype Whatt*/
/* #challenge {
    width: 90%;
} */


/*Taskcontainer*/
.taskcontainer {
    position: relative;
    padding: 100px 0 100px 0;
    width: 100%;
    background: #FAFAFA;
}
#evocart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 300px;
}


.tools {
    background: none;
}

/*HMW Container*/
.HMW {
    position: relative;
    margin: 5% 0 0 0;
    padding: 10% 0 10% 0;
    text-align: center;
    width: 100%;
    background: #FAFAFA;
}

.nomarging {
    margin: 0% 0 0% 0;

}

.HMW p {
    font-weight: 500;
}


/*Conceptkasten: Gif mit Fahrrad*/
.luciegif {
    position: relative;
    width: 100%;
    background: #101926;
}

.luciegif img {
    margin-left: 18%;
    width: 60%;
}

/*InteractionKasten*/
.interactionpic {
    position: relative;
    width: 100%;
    background: #FAFAFA;
}

#brille {
    padding-top: 6%;
    padding-bottom: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*SliderKasten Lucie*/
.interactiongif {
    height: 100%;
    background: #121924;
    margin-top: 4rem;
}

.mySlides {
    display: none;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 25%;
}

.w3-left {
    margin-bottom: 17%;
    margin-left: 0%;
}

.w3-right {
    margin-bottom: 17%;
    margin-right: 0%;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.kreisanzeige {
    text-align: center;
    padding-bottom: 2%;
}

.w3-badge {
    height: 10px;
    width: 10px;
    padding-right: 0;
    padding-left: 0;
}

/*Sliderkasten Methoden*/
.methodscontainer {
    height: 100%;
    background: #FAFAFA;
}

.mySlides1 {
    display: none;
    width: 70%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 15%;
}

.mySlides2 {
    display: none;
    width: 70%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-left: 15%;
}

.methodenanpassung {
    margin-bottom: 27%;
}


/*ResultKasten*/
.responsive-video iframe {
    position: absolute;
    top: 0%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: 93%;
    height: 100%;
}

.responsive-video {
    position: relative;
    height: 0;
    padding-bottom: 40%;
    /* Default for 1600x900 videos 16:9 ratio*/
    overflow: hidden;
}

.resulttext {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result p {
    float: left;
}

.result img {
    margin-left: 5px;
    margin-bottom: 22px;
    width: 25px;
}


/*MarvinBot*/
.marvinchat {
    margin: 0% 0 0% 0;
    padding: 0% 20% 0% 20%;
}


/* UX*/
.more {
    margin-top: 10%;
    width: 100%;
    background-color: #FAFAFA;
}


/*About Me*/
.aboutmebild {
    padding-top: 10%;
    padding-bottom: 3%;
    margin-left: 4%;
    margin-right: 4%;
}

.aboutmebild img {
    margin-left: 4%;
    float: right;
    width: 50%;
}

#mehead {
    color: black;
    font-size: 70px;
    font-weight: 450;
}

#metext {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.8;
}

#metext a {
    font-weight: 500;
    text-decoration: none;
}

#check {
    width: 19px;
    padding-right: 5px;
}

/*Weitere Einstellungen*/

/* Clearfix */
.clearfix {
    overflow: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}







/* Mediaqueries */

/*Veränderungen bei unterschiedlichen Screen Größen*/

/*Großer Bildschirm (wie bei Bosch)*/
@media screen and (min-width: 1600px) {
    
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-12 {
    padding-right: 60px;
    padding-left: 60px;
}
.columns-container {
    padding-left: 15%;
    padding-right: 13%;
}
.chapter {
    padding-left: 15%;
}
.projnav {
    padding: 4% 0% 25px 60px;
}
/* .catch p {
    font-size: 30px;
} */
.aboutmebild {
    margin-left: 15%;
    margin-right: 15%;
}
}


/* Mittlerer Bildschirm */
@media screen and (max-width: 1100px) {
/*Rolle, Zeit, etc. Ansicht*/
.projcolumns2  {
    display:none;
}
.projinfo-container{
    display: block;
}
 .projcolumns article {
    width: 35%;
}
}



/* Kleiner Bildschirm */
@media screen and (max-width: 700px) {

    /* Vorschau Projekte */
    .columns article {
        width: 100%;
        /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 3 Spalten*/
        float: left;
        padding-top: 0%;
        padding-right: 2%;
        /* border-left: 1px solid #bfb6a8; */
    }
    
/* Veränderung Videos  --> Funktionert nur wenn an erster Stell*/
.videokasten{
    float: left;
    width: 100%;
    height: 400px; 
}

  /*Veränderung der Navbar */
.bignav {
    display: none;
}
.navphone {
    display: block;
}
.navphone span {
    float: right;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    color: grey;
}
.overlay a:hover,
.overlay a:focus {
    color: black;
}
.overlay .closebtn {
    position: absolute;
    right: 20px;
    font-size: 60px;
}
.overlay a {
    font-size: 20px}

.overlay .closebtn {
    font-size: 40px;
    top: 10px;
}

/*Navbar  */
.main-header-container {
    padding-top: 20px;
    padding-bottom: 0px;
}

.open {
margin-top: 0px;
font-size: 30px;
cursor:pointer; 
} 
.chapter1 {
    margin-top: 70px;
}


.smallprojects{
    margin-top: 155%;
}

/*Projektnavbar*/
.projnav {
    display: none; 
}

/* Veränderung der Bilder & Videos */
.crop {
    width: 100%;
    height: 300px; 
}​


    /* Veränderrung der Projektansicht */
    .columns article {
        width: 100%;
        /*Je nachdem wie viele Spalten enthalten sein sollen :) Hier folglich 1 Spalte*/
    }

    .proj:before {
        padding-top: 60%;
    }

    /*About Me Page*/
    .aboutmebild img {
        margin-left: 4%;
        float: right;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .credit {
        margin-top: 10%;
    }
}


/* Ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 


    /* Landing Page */
    #rect1 {
        display: none;
    }
    #responsive {
        display: block;
    }
}



/* Handyansicht */
@media only screen 
    and (min-device-width: 300px) 
    and (max-device-width: 768px) 
    and (-webkit-device-pixel-ratio: 2) {


 /*Rolle, Zeit, etc. Ansicht*/
 .projcolumns article {
    width: 50%;
}

    /* Landing Page */
    #rect1 {
        display: none;
    }
    #responsive {
        display: block;
    }

    #hello {
        color: black; 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 80px;
        font-size: 120px;
        font-weight: 450;
    }

.intro-container {
    margin-left: 20px;
    margin-right: 20px;
}

    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-12 {
        padding-right: 20px;
        padding-left: 20px;
    }


/*Navbar  */
.main-header-container {
        padding-right: 20px;
        padding-left: 20px;
}
.open {
    margin-top: -10px;
    font-size: 45px;
} 
  

/*Projekte*/
.intro {
    margin-top: 200px;
    margin-left: 20px;
}

.intro h1 {
    margin-bottom: 10px;
}

/*intropic*/
.intropic {
    margin-top: 35px;
    position: relative;
    height: 400px; 
    width: 100%;
}
.uxintro {
    background-size: 90%;
}

.projinfo-container {
    margin-top: 80px;
    margin-bottom: 80px;
    background: white;
}

/*Kapitelüberschrift*/
.chapter {
    padding-left: 20px;
    margin-top: 70px;
    padding-bottom: 2%;
    vertical-align: baseline
}
}




